*,
::before,
::after {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  user-select: none;
}

body {
  height: auto;
  overflow-x: hidden;
  user-select: none;
}

.button {
  padding: 16px 30px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  cursor: pointer;
}

::-webkit-scrollbar {
  background-color: red;
}

::-webkit-scrollbar-thumb {
  background-color: black;
}

.blue {
  background-color: rgb(80, 171, 241);
}

.pink {
  background-color: rgb(255, 116, 181);
}

.input:focus {
  border: 2px solid red;
  outline: none;
}

.darkblue {
  background-color: rgb(24, 119, 242);
}

.hamburger-menu-container {
  position: absolute;
  z-index: 20;
  height: 100vh;
  width: 100%;
  visibility: hidden;
  background-color: white;
}

.close-button {
  position: absolute;
  top: 5vh;
  right: 5vw;
  height: 40px;
  width: 40px;
  cursor: pointer;
  pointer-events: auto;
}

.hamburger-container-text {
  position: absolute;
  left: 45vw;
  top: 20vh;
}

.hamburger-links {
  text-decoration: none;
  color: black;
  display: block;
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  margin-bottom: 4vh;
  transition: color 0.4s;
}

.hamburger-links:hover {
  color: red;
}

.landing-page-container {
  position: relative;
  text-align: center;
}

.landing-page-header-content {
  z-index: 11;
  position: fixed;
  background-color: black;
  top: 0;
  display: flex;
  align-items: center;
  height: 14vh;
  width: 100%;
}

.landing-page-header-logo {
  z-index: 10;
  top: -1vh;
  left: 1vw;
  height: 100px;
  width: 200px;
  display: flex;
  position: absolute;
  object-fit: cover;
  pointer-events: all;
  cursor: pointer;
}

nav {
  width: 100%;
  position: absolute;
  top: 4.5vh;
  z-index: 22;
}

nav ul li {
  display: inline-block;
  list-style: none;
  display: inline-block;
  margin-left: 3vw;
}

.font {
  font-family: "Roboto", sans-serif;
}

.font-cartoon {
  font-family: "Caveat Brush", cursive;
}

nav ul li a {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  text-decoration: none;
  color: white;
  transition: color 0.4s;
}

nav ul li a:hover {
  color: red;
}

.icon {
  display: flex;
  position: absolute;
  top: 4.5vh;
  right: 3vw;
  cursor: pointer;
}

.active {
  visibility: hidden;
}

.hamburger-icon {
  position: absolute;
  margin-right: 10px;
  cursor: pointer;
  z-index: 22;
  top: 4.8vh;
  right: 5.5vw;
  height: 20px;
  width: 20px;
  visibility: visible;
  pointer-events: auto;
}

.about-container {
  background-image: url(/images/background\ pastel.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.img-container-about-contact {
  visibility: hidden;
}

.img-scale {
  visibility: hidden;
}

@media (min-width: 1200px) {
  .img-container-about-contact {
    visibility: visible;
  }

  .img-scale {
    visibility: visible;
  }
}
